@import "./../variables";
#loader-overlay {
  position: fixed;
  inset: 0;
  background-color: $accent; 
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
}

#loader-overlay.active {
  display: flex !important;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  border-width: 0.3rem;
}
