@import "./../variables";


// Typography Styles
h1 { font-size: $font-size-main-title; }
h2 { font-size: $font-size-section-title; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

